{% extends 'layouts/base.html' %}
{% load static %}


{% block title %} Notification {% endblock title %}

{% block content %}
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Notification</a></li>
              </ol>
            </nav>
          </div>
         </div>
      </div>
   </div>
</div>

<div class="table-responsive ">
<table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="username">Alert</th>
                <th scope="col" class="sort" data-sort="email">Read</th>

            </tr>
            </thead>
            <tbody class="list">
            <tr>
                    {% if lengths > 0 %}
                        {% for noti in notifys %}
                        <td class="Task">
                         new Task
                        </td>
                        <td>
                        <span class="Read">
                        <a class="btn btn-primary" href="{% url 'read' noti.id %}">
                            read
                        </a>
                        </span>
                        </td>
                    {% endfor %}
                {% else%} 
                <td>
                <span class="text-danger">
                    No Notification
                </span>
                {{lengths}}

                </td> 

                 {% endif %}

            </tr>
        

        </tbody>
    </table>
  </div>
    

  <!-- Page content -->

  

  
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>

</script>
{% endblock javascripts %}
